:root {
    --cellFaceColor:#ebe8e8;
    --cellBottomColor: rgb(131, 131, 131);
    --cellRightColor: rgb(180, 180, 180);
    --cellPressedColor: #c5c5c5;
    --cellHighlightColor: white;
}

@font-face {
    font-family: Inconsolata;
    src: url('./assets/Inconsolata-Bold.ttf');
}

.minesweeper .grid {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.minesweeper .row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-basis: 0;
}

.minesweeper .cell {
    padding: 0;
    display: inline-block;
    flex-grow: 1;
    flex-basis: 0;
}

.minesweeper .cell span {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
}

.minesweeper .cell .unrevealed {
    background-color: var(--cellFaceColor);
    border-bottom: var(--cellBottomColor) 2px solid;
    border-right: var(--cellRightColor) 2px solid;
    transition: border-width 0.05s linear;
}

.minesweeper .grid:not(.gameover) .cell .unrevealed.active,
.minesweeper .grid:not(.gameover) .cell .unrevealed:hover:active {
    background-color: var(--cellPressedColor);
    border-right: var(--cellRightColor) 0px solid;
    border-bottom: var(--cellBottomColor) 0px solid;
    border-top: var(--cellBottomColor) 2px solid;
    border-left: var(--cellRightColor) 2px solid;
}

.minesweeper .grid:not(.gameover) .cell .unrevealed:hover {
    background-color: var(--cellHighlightColor);
}

.minesweeper .cell .revealed {
    background-color: var(--cellPressedColor);
    border-bottom: var(--cellRightColor) 1px solid;
    border-right: var(--cellRightColor) 1px solid;
}

.minesweeper .cell .revealed.triggered {
    background-color: #f42222;
}

.minesweeper .cell[data-minesweeper-value="?"] span::after {
    content: "?";
    color: black;
}
.minesweeper .cell[data-minesweeper-value="F"] span::after {
    content: "";
    background-image: url('./assets/flag.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
}
.minesweeper .cell[data-minesweeper-value="*"] .revealed::after {
    content: "";
    background-image: url('./assets/mine.svg');
    width: 75%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.minesweeper .cell[data-minesweeper-value="*X"] .revealed::after {
    content: "";
    background-image: url('./assets/cross.svg'), url('./assets/mine.svg');
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85% 85%, 75% 75%;
}
.minesweeper .cell[data-minesweeper-value="1"] .revealed::after {
    content: "1";
    color: blue;
}
.minesweeper .cell[data-minesweeper-value="2"] .revealed::after {
    content: "2";
    color: #007b00;
}
.minesweeper .cell[data-minesweeper-value="3"] .revealed::after {
    content: "3";
    color: #ff0000;
}
.minesweeper .cell[data-minesweeper-value="4"] .revealed::after {
    content: "4";
    color: #00007b;
}
.minesweeper .cell[data-minesweeper-value="5"] .revealed::after {
    content: "5";
    color: #7b0000;
}
.minesweeper .cell[data-minesweeper-value="6"] .revealed::after {
    content: "6";
    color: #007b7b;
}
.minesweeper .cell[data-minesweeper-value="7"] .revealed::after {
    content: "7";
    color: #000000;
}
.minesweeper .cell[data-minesweeper-value="8"] .revealed::after {
    content: "8";
    color: #7b7b7b;
}
.minesweeper .grid.gameover {
    background-color: white;
}
.minesweeper .grid.gameover .cell {
    filter: brightness(50%);
    animation: gameover 3s forwards;
    animation-timing-function: ease-in-out;
}
.minesweeper .grid .gameOverOverlay {
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
    width: 100%;
    height: 60px;
    top: -60px;
    animation: gameOverSlideDown 0.8s forwards;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}
.minesweeper .grid .gameOverOverlay span {
    font-family: Inconsolata;
    color: white;
    display: block;
    text-align: center;
}
.minesweeper .grid .gameOverOverlay .gameOverText {
    margin-top: 5px;
    font-size: 30px;
}
.minesweeper .grid .gameOverOverlay .score {
    font-size: 15px;
}

@keyframes gameover {
    0%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes gameOverSlideDown {
    0%  {top: -60px;}
    100% {top: calc(50% - 30px);}
}